#footer {
  min-height: 34px;
  bottom: 0;
  position: relative;
  background-color: lightgrey;
  padding: 10px;
  margin-top: 20px;
}

.content-container {
  min-height: calc(100vh - 34px);
}

.header {
  margin: 5%;
}


